---
layout: default
title: "Romancing with Web"
page_name: coding-romance
permalink: /web/
---

<section class="challenges-section pt-5">
  <div class="container">
    <div class="section-header mb-4">
      <h1>
        Romancing With Web
      </h1>
    </div>

    <div class="row">
      {% for cr in site.web %}
        <div class="col-md-4">
          <div class="card">
            <div class="image-wrapper">
              <a href="{{ cr.url }}">
                <img src="{{ site.image_base_url }}/{{ cr.preview.desktop }}" class="card-img-top" alt="Coding Romance Thumbnail">
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ cr.title }}</h5>
              <p class="card-text">
                {{ cr.description }}
              </p>
              <div class="challenge-info-header">
                <div class="tags">
                  {% for tag in cr.tags %}
                    <span class="tag-badge">{{ tag }}</span>
                  {% endfor %}
                </div>
                <div class="difficulty">
                  <span class="difficulty-badge">{{ cr.difficulty }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
